/*add the following to the styles.css*/
:root{
  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
}

/*------hero section -------*/
.hero{
  position: relative;
  top: 5.4rem;
}

.hero .hero-container{
  display: grid;
  grid-template-columns: 18vh auto 20vw;
  column-gap: 2rem;
  position: relative;
}

/*---------hero left-------*/
.hero-container .left{
  height: max-content;
  position: sticky;
  top: var(--sticky-top-left);
}

/*---------sidebar--------*/
.left .sidebar{
  margin-top: 1rem;
  background: var(--color-white);
  border-radius: var(--card-border-radius);
}

.left .sidebar .menu-item{
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
}

.left .sidebar .menu-item:hover{
  background: var(--color-light);
}

.left .sidebar i{
  font-size: 1.4rem;
  color: var(--color-gray);
  margin-left:2rem ;
  position: relative;
}

.left .sidebar h3{
  margin-left: 1.5rem;
  font-size: 1rem;
}

.left .sidebar .active {
  background: var(--color-light);
}

.left .sidebar .active i, .left .sidebar .active h3{
  color: var(--color-primary);
}

.left .btn{
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}